<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bentory"
        android:label="Bentory"
        android:roundIcon="@drawable/bentory"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bentory_app"
        android:debuggable="true"
        tools:targetApi="31">
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/zxing_CaptureTheme"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".activities.AddProduct"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activities.Statistics"
            android:exported="false" />
        <activity
            android:name=".activities.SellProduct"
            android:exported="false" />
        <activity
            android:name=".activities.Inventory"
            android:exported="false" />
        <activity
            android:name=".activities.Notifications"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LandingPage"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.BurgerMenuActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>